[submodule "bitloom-core"]
	path = bitloom-core
	url = ../bitloom-core
[submodule "bitloom-avr"]
	path = bitloom-avr
	url = ../bitloom-avr
[submodule "cutil"]
	path = cutil
	url = ../cutil
[submodule "bitloom-drivers"]
	path = bitloom-drivers
	url = ../bitloom-drivers
